/*-------------------------------------------------------------------
Typography
-------------------------------------------------------------------*/

@font-face {
    font-family: openSans;
    src: url(/assets/fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: openSans;
    font-weight: 600;
    src: url(/assets/fonts/OpenSans-Bold.ttf)
}

@font-face {
    font-family: openSans;
    font-weight: 900;
    src: url(/assets/fonts/OpenSans-ExtraBold.ttf)
}

$mainFont: openSans;

$contentFontSize: 16px;

h1,
h2,
h3 {
    font-weight: 400;
}

p {
    margin: 0;
}

/*-------------------------------------------------------------------
Colors
-------------------------------------------------------------------*/

$colorBlack: #000;
$colorMatteBlack:#231F20;
$colorWhite: #fff;
$colorDarkRed: #CB0D1F;
$colorLightRed: #ED1A39;
$colorSeaGreen: #00A8A9;
$colorBlue: #1E2B50;
$colorOrange: #F26324;

/*-------------------------------------------------------------------
Transition
-------------------------------------------------------------------*/

%transition {
    transition: all 300ms;
}

/*-------------------------------------------------------------------
Flex
-------------------------------------------------------------------*/

.l-flex {
    display: flex;
}

.l-flex--center {
    justify-content: center;
    align-items: center;
}

.l-flex--stretch {
    align-items: stretch;
}

.l-flex--wrap {
    flex-wrap: wrap;
}

.l-flex--negative {
    margin-left: -12px;
    margin-right: -12px;
}

%flexColPatterns {
    padding: 12px;
}

.l__col-2-4 {
    @extend %flexColPatterns;
    width: 20%;
}

.l__col-3 {
    @extend %flexColPatterns;
    width: 25%;
}

.l__col-4 {
    @extend %flexColPatterns;
    width: 33.33%;
}

.l__col-8 {
    @extend %flexColPatterns;
    width: 66.66%;
}

.l__col-9 {
    @extend %flexColPatterns;
    width: 75%;
}

.l__col-9-6 {
    @extend %flexColPatterns;
    width: 80%;
}

/*-------------------------------------------------------------------
Components
-------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-size: $contentFontSize;
    font-family: $mainFont;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    @extend %transition;
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
        opacity: .8;
    }
}

input,
select,
button {
    display: inline-block;
    background: none;
    border-radius: 0;
}

input,
select {
    border: 1px solid #222;
}

.c-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1100px;
}

.c-header {
    background: $colorMatteBlack;
    color: $colorWhite;

    .c-header__top {
        padding: 6px 0;
        text-align: right;
        font-size: 14px;

        a {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    .c-header__mid {
        padding: 30px 0;
        background: $colorWhite;

        .c-header__logo {
            margin-right: auto;

            img {
                max-height: 53px;
            }
        }

        .c-search {
            margin-left: auto;

            .c-search__input {
                padding: 0 12px;
                width: 100%;
                border-color: #959595;
            }

            .c-search__submit {
                @extend %transition;
                padding: 12px 20px;
                background: $colorDarkRed;
                color: $colorWhite;
                font-weight: 600;
                border: none;
                cursor: pointer;

                &:hover,
                &:focus {
                    background: $colorSeaGreen;
                }
            }

        }
    }

    .c-header__bottom {
        padding: 16px 0;
        background: $colorDarkRed;

        li {
            display: inline-block;

            padding: 0 30px;
            font-weight: 600;
            text-transform: uppercase;
        }

        li:first-child {
            padding-left: 0;
        }

        li:last-child {
            padding-right: 0;
        }
    }

}

.c-section {
    padding: 15px 0 27px;

    aside nav {
        padding: 12px 6px;
        height: 100%;
        background: #E2DEDC;

        ul {

            li {
                position: relative;
                padding: 3px 18px;
                font-size: 18px;

                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 8px;
                    height: 4px;
                    width: 4px;
                    background: $colorBlack;
                    border-radius: 50%;
                    transform: translateY(-50%);
                }

            }

        }
    }

    nav,
    main {
        padding-bottom: 0;
    }

    main {
        .c-empty-content {
            background: #ACACAC;
            height: 281px;
            ;
        }
    }
}

.c-section--product {
    @extend .c-section;

    h1,
    h2 {
        color: $colorLightRed;
    }

    aside nav {
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
        background: none;
        border: 1px solid #E2DEDC;

        h2 {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 600;
        }

        h2,
        h3 {
            text-transform: uppercase;
        }

        h3 {
            color: $colorSeaGreen;
            margin: 10px 0;
            font-weight: 600;
        }

        ul {
            li {
                padding-left: 10px;
                padding-right: 10px;
                color: #626262;

                &:before {
                    left: 0;
                    background: #626262;
                }
            }
        }

    }

    h1 {
        margin-top: 5px;
        font-size: 32px;
    }

    h1,
    .c-sort-bar {
        border-bottom: 1px solid #E2DEDC;
        padding-bottom: 10px;
    }

    .c-sort-bar__display-button {
        @extend %transition;
        display: inline-block;
        margin-right: 10px;
        color: #818286;
        font-size: 20px;
        cursor: pointer;

        &:hover,
        &:focus,
        &.active {
            color: $colorSeaGreen
        }
    }

    .c-sort-bar {
        .c-sort-bar__display {
            margin-right: auto;
        }

        .c-sort-bar_data-option {
            margin-left: auto;
            color: #808185;
            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;

            select {
                margin-left: 5px;
                padding: 3px 6px;
                font-size: 14px;
                border: 1px solid #E2DEDC;
                border-radius: 5px;
            }
        }

    }

    .c-product-wrapper{
        margin-top: 20px;
    }

    .c-product {
        cursor: pointer;

        .c-product__img {
            padding: 10px 0;
            border: 1px solid #E2DEDC;

            img {
                max-height: 170px;
            }
        }

        .c-product__info {
            text-align: center;
            text-transform: uppercase;

            h2 {
                margin-bottom: 10px;
                color: #626262;
                font-size: 16px;
            }

            .c-product__price {
                margin-bottom: 10px;
                color: $colorDarkRed;
                font-weight: 700;
                    font-size: 21px;

                .c-product__old-price{
                    margin-right: 10px;
                    color: #808185;
                    font-size: 15px;
                    text-decoration: line-through;
                    font-weight: 400;
                }

            }

            .c-product__button {
                @extend %transition;
                padding: 10px 0;
                background: $colorSeaGreen;
                color: $colorWhite;
                font-weight: 600;
                border-radius: 5px;
            }

            
        }

        &:hover .c-product__button, &:focus .c-product__button{
            background: $colorDarkRed;

        }

    }
}

.c-breadcrumb {
    padding: 10px 0;
    color: #ACACAC;
    font-size: 14px;
    ;

    a {
        color: $colorBlack;

        &:hover,
        &:focus {
            color: $colorSeaGreen;
        }
    }

    .c-breadcrumb__current {
        color: $colorDarkRed;
    }
}

.c-footer {
    padding-bottom: 20px;

    .c-empty-content {
        height: 176px;
        background: $colorDarkRed;
    }
}
